:root {
	--azul-escuro: #224FB9;
	--azul-claro: #5D9FEF;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}